<!DOCTYPE html>
<html>
<head>
    <title>Modifier une personne</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="asset/css/admin_conEdit.css"  />
    <link rel="icon" type="image/png" href="image/imgU.jpg">

    <style>
        
    </style>
</head>
<body>
    {% block body %}
        <div class="container">
            <h1>Modifier une personne</h1>

            <!-- Début du formulaire -->
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {% for field in form %}
                {% if field.vars.name != '_token' %}
                <span class="field-name">{{ field.vars.name }}</span>
                    <div class="form-group">
                            {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {% endif %}
                {% endfor %}
                <!-- Boutons de soumission et de suppression -->
                <div class="form-group d-flex justify-content-end">
                    <div class="mr-auto">
                        <a href="{{ path('app_admin_controller_personne_index') }}" class="btn btn-secondary mr-2">Retour à la liste</a>
                    <button type="submit" class="btn btn-primary">{{ button_label|default('Mettre à jour') }}</button>
                    <button type="submit" class="btn btn-danger ml-2" formaction="{{ path('app_admin_controller_personne_delete', {'id': personne.id}) }}">Supprimer</button>
            <!-- Fin du formulaire -->
            {{ form_end(form) }}
            <a href="/menu" class="btn btn-secondary">Administration</a>
        </div>
    {% endblock %}
    <!-- Scripts JavaScript nécessaires -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
