<!DOCTYPE html>
<html>
<head>
    <title>Index des personnes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="asset/css/admin_conIndex.css"  />
  <link rel="icon" type="image/png" href="image/imgU.jpg">

    <style></style>
</head>
<body>

<div class="container">
    <h1>Index des personnes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Numéro de téléphone</th>
                <th>Date d'arrivée</th>
                <th>Date de départ</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for personne in personnes %}
            <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td>{{ personne.numeroTel }}</td>
                <td>{{ personne.dateArrive ? personne.dateArrive|date('Y-m-d') : '' }}</td>
                <td>{{ personne.dateDepart ? personne.dateDepart|date('Y-m-d') : '' }}</td>
                <td>
                    {% if personne.statut == 'titulaire' %}
                        Titulaire
                    {% elseif personne.statut == 'ATER' %}
                        ATER
                    {% elseif personne.statut == 'Doctorant' %}
                        Doctorant
                    {% elseif personne.statut == 'Post-doctorant' %}
                        Post-doctorant
                    {% elseif personne.statut == 'Ingénieur' %}
                        Ingénieur
                    {% elseif personne.statut == 'Secrétaire' %}
                        Secrétaire
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_admin_controller_personne_show', {'id': personne.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_admin_controller_personne_edit', {'id': personne.id}) }}" class="btn btn-secondary">Modifier</a>
                </td>

            </tr>
            
            {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
                <a href="/menu" class="btn btn-secondary">Administration</a>


    {# <a href="{{ path('app_admin_controller_personne_new') }}" class="btn btn-success">Créer un nouveau</a> #}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

