<!DOCTYPE html>
<html>
<head>
    <title>Bureau</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="image/imgU.jpg">

    <style>
        /* Styles personnalisés pour la page */
        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
        }
        .table-bordered th {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bureau</h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ bureau.id }}</td>
                </tr>
                <tr>
                    <th>Nombre de places</th>
                    <td>{{ bureau.nombPlace }}</td>
                </tr>
                <tr>
                    <th>Numéro de bureau</th>
                    <td>{{ bureau.nBureau }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_admin_controller_bureau_index') }}" class="btn btn-secondary mr-2">Retour à la liste</a>
        <a href="{{ path('app_admin_controller_bureau_edit', {'id': bureau.id}) }}" class="btn btn-primary">Modifier</a>
            <a href="/menu" class="btn btn-secondary">Administration</a>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
